@font-face {
  font-family: "source-sans-pro-bold";
  src: url(../../fonts/source-sans-pro/SourceSansPro-Bold.otf);
}
@font-face {
  font-family: "merriweather-Light";
  src: url(../../fonts/merriweather/Merriweather-Light.otf);
}
@font-face {
  font-family: "merriweather-Lightitalic";
  src: url(../../fonts/merriweather/Merriweather-LightItalic.otf);
}
body #content {
  font-family: "merriweather-Light", helvetica, sans-serif;
  line-height: 2.375em;
}
body h1 {
  font-family: "source-sans-pro-bold", helvetica, sans-serif;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
body h1 + p {
  color: #fff;
  font-family: "merriweather-Lightitalic", helvetica, sans-serif;
  font-size: 1rem;
}
body h2 {
  font-family: "source-sans-pro-bold", helvetica, sans-serif;
  font-size: 2rem;
  color: #212931;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
body h2 + p {
  font-family: "merriweather-Lightitalic", helvetica, sans-serif;
  font-size: 1rem;
  color: #4b4b4b;
}
body h3 {
  color: #212931;
}
body footer {
  font-family: "source-sans-pro-bold", helvetica, sans-serif;
  color: #909498;
}

.menu {
  font-family: "source-sans-pro-bold", helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
.menu__btn {
  font-size: 1rem;
  font-weight: 900;
  color: #fff;
}
.menu__btn--solid {
  color: black;
}
.menu__list {
  color: #212931;
}

.item__btn {
  font-size: 0.8rem;
  font-family: "source-sans-pro-bold", helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

.sheet__id {
  font-size: 0.8rem;
  font-style: italic;
}
.sheet__form {
  font-family: "source-sans-pro-bold", helvetica, sans-serif;
  text-transform: uppercase;
}
.sheet__form div label {
  font-size: 1.2rem;
  letter-spacing: 0.075em;
  font-weight: 900;
}
.sheet__form div select {
  font-family: "merriweather-Light", helvetica, sans-serif;
}
.sheet__form div p {
  font-size: 1.2rem;
}
.sheet__form div input {
  font-family: "merriweather-Light", helvetica, sans-serif;
  font-size: 1.2rem;
}
.sheet__form div button {
  text-transform: uppercase;
  font-family: "source-sans-pro-bold", helvetica, sans-serif;
  color: #fff;
}

#table {
  font-size: 0.8rem;
}
#table thead {
  text-transform: uppercase;
  font-family: "source-sans-pro-bold", helvetica, sans-serif;
  color: #212931;
}

#empty {
  text-transform: uppercase;
  font-family: "source-sans-pro-bold", helvetica, sans-serif;
  color: #212931;
}

#form input {
  font-family: "merriweather-Light", helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.025rem;
}
#form textarea {
  font-family: "merriweather-Light", helvetica, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.025rem;
}
#form input[type=submit] {
  text-transform: uppercase;
  font-family: "source-sans-pro-bold", helvetica, sans-serif;
  color: #fff;
}

body {
  background-color: #bababa;
  margin: 0;
}
body #content {
  border: solid 2px #e6e6e6;
  display: flex;
  flex-direction: column;
}
body #content header {
  height: 60vh;
}
body #content header nav {
  display: flex;
  justify-content: flex-end;
}
body #content header h1 {
  text-align: center;
  margin-top: 70%;
}
body #content header h1 + p {
  text-align: center;
}
body #content section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem 1rem 0 1rem;
}
body #content section h2 {
  text-align: center;
  margin-bottom: 0;
}
body #content section h2 + p {
  text-align: center;
}
body #content section h2::after {
  border-top: solid 2px #b6b6b6;
  content: "";
  display: inline-block;
  width: 20%;
}
body #content footer {
  height: 10vh;
}
body #content footer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
}
body #content footer ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #content .error {
  color: red;
  font-style: italic;
  text-align: center;
  border: solid 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  margin: auto;
}
.bg__fixed {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.bg__fixed--index {
  background-image: url(../../img/topillustration.jpg);
}
.bg__fixed--produit {
  background-image: url(../../img/topillustrationProduct.jpg);
}
.bg__fixed--panier {
  background-image: url(../../img/topillustrationPanier.jpg);
}

.menu--hidden {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  width: 80%;
  box-sizing: content-box;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  transform: scaleX(0);
  transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  transform-origin: 100% 0%;
}
.menu .close {
  display: block;
  width: 15%;
  text-align: center;
  align-self: flex-end;
  margin-top: 1em;
  margin-right: 1em;
}
.menu .close .fa-times {
  font-weight: 900;
  font-size: 1.25em;
  color: #909498;
  transition: color 200ms ease-in-out;
}
.menu .close .fa-times:hover {
  color: #18bfef;
}
.menu__list li {
  transition: color 200ms ease-in-out;
}
.menu__list li:hover {
  color: #18bfef;
}
.menu__list li::after {
  border-top: solid 2px #e6e6e6;
  content: "";
  display: inline-block;
  width: 80%;
}
.menu__social {
  padding: 0.5rem;
}
.menu__social .fa-facebook-f {
  letter-spacing: 0.341em;
}
.menu__social__item {
  margin: 0.5rem;
  box-shadow: inset 0 0 0 2px #eeeeee;
  border-radius: 100%;
  padding: 0.5rem;
  text-align: center;
  transition: color 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
.menu__social__item:hover {
  color: #18bfef;
  box-shadow: inset 0 0 0 2px #18bfef;
}
.menu--active {
  transform: scaleX(1);
}
.menu__btn {
  position: fixed;
  top: 1rem;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out, box-shadow 200ms ease-in-out, opacity 200ms ease-in-out;
  margin-right: 5vw;
  padding: 0 0.8rem 0 0.8rem;
  background-color: none;
  box-shadow: 0;
  opacity: 1;
}
.menu__btn:hover {
  color: #18bfef;
}
.menu__btn--solid {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
  opacity: 0.8;
}
.menu__btn .open {
  display: flex;
  align-items: center;
}
.menu__btn .open p {
  margin: 0;
}
.menu__btn .open .fa-bars {
  margin-right: 0.5em;
}

#items {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
}
#items li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}
#items li::before {
  border-top: solid 2px #e6e6e6;
  content: "";
  display: inline-block;
  width: 100%;
}
#items li .item__img img {
  width: 100%;
  height: auto;
}
#items li .item__btn {
  width: 50vw;
  padding: 0;
  display: block;
  background-color: #fff;
  text-align: center;
  border: solid 2px #212931;
  transition: color 200ms ease-in-out, border 200ms ease-in-out;
}
#items li .item__btn:hover {
  color: #18bfef;
  border: solid 2px #18bfef;
}

.sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sheet__title {
  text-align: center;
  margin-bottom: 0;
}
.sheet__specs {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sheet__specs::before {
  border-top: solid 2px #b6b6b6;
  content: "";
  display: inline-block;
  width: 20%;
  margin-bottom: 2rem;
}
.sheet__specs::after {
  border-top: solid 2px #b6b6b6;
  content: "";
  display: inline-block;
  width: 20%;
  margin-top: 2rem;
}
.sheet__id {
  text-align: center;
  line-height: 1rem;
  margin-top: 0;
}
.sheet__img img {
  width: 100vw;
  height: auto;
}
.sheet__label {
  padding: 1rem;
}
.sheet__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-bottom: 4rem;
}
.sheet__form div {
  width: 100%;
  margin: 1rem 0;
}
.sheet__form div label {
  color: #212931;
  text-align: start;
}
.sheet__form div select {
  height: 3rem;
  width: 100%;
  border: solid 2px #eeeeee;
  text-align: center;
}
.sheet__form div p {
  text-align: center;
  margin: 0;
}
.sheet__form div input {
  height: 3rem;
  width: 100%;
  border: solid 2px #eeeeee;
  text-align: center;
}
.sheet__form div button {
  width: 100%;
  line-height: 3.25rem;
  background-color: #212931;
  border: 0;
  transition: background-color 200ms ease-in-out;
}
.sheet__form div button:hover {
  background-color: #18bfef;
}

#main #table {
  margin: 0 0 2rem 0;
  border-collapse: separate;
  width: 100%;
  border-spacing: 0;
}
#main #table tbody tr:nth-child(2n+1) {
  background-color: rgba(220, 220, 220, 0.25);
}
#main #table td {
  text-align: center;
  border: 1px solid #eeeeee;
}
#main #table tfoot tr th {
  width: 10%;
}
#main #empty {
  width: 100%;
  margin: 2rem 0 2rem 0;
  line-height: 3.25rem;
  background-color: #fff;
  border: #212931 solid 2px;
  transition: background-color 200ms ease-in-out;
}
#main #empty:hover {
  background-color: #18bfef;
}
#main #textForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main #textForm::before {
  border-top: solid 2px #b6b6b6;
  content: "";
  display: inline-block;
  width: 20%;
  margin: 0 0 1rem 0;
}
#main #form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}
#main #form input {
  width: 90%;
  height: 2rem;
  border: solid #eeeeee 2px;
  margin: 2rem 0 0 0;
}
#main #form textarea {
  width: 90%;
  margin: 2rem 0 0 0;
  border: solid #eeeeee 2px;
}
#main #form input[type=submit] {
  border: none;
  height: auto;
  margin: 2rem 0 2rem 0;
  line-height: 3.25rem;
  background-color: #212931;
  transition: background-color 200ms ease-in-out;
}
#main #form input[type=submit]:hover {
  background-color: #18bfef;
}

/*# sourceMappingURL=style.css.map */
