#table {
    font-size: 0.9rem;
    @media all and (min-width: 981px) {
        font-size: 1rem;
    }
    thead {
        text-transform: uppercase;
        font-family: "source-sans-pro-bold", helvetica, sans-serif;
        color: #212931;
    }
}
#empty {
    text-transform: uppercase;
    font-family: "source-sans-pro-bold", helvetica, sans-serif;
    color: #212931;
    font-size: 1rem;
}

#continue {
    text-transform: uppercase;
    font-family: "source-sans-pro-bold", helvetica, sans-serif;
    color: #fff;
}

#form {
    input {
        font-family: "merriweather-Light", helvetica, sans-serif;
        font-size: 1rem;
        letter-spacing: 0.025rem;
    }
    textarea {
        font-family: "merriweather-Light", helvetica, sans-serif;
        font-size: 1rem;
        letter-spacing: 0.025rem;
    }
    +#submit {
        text-transform: uppercase;
        font-family: "source-sans-pro-bold", helvetica, sans-serif;
        color: #fff;
        font-size: 1rem;
    }
}
