#summary {
    h3 {
        text-transform: uppercase;
        font-family: "source-sans-pro-bold", helvetica, sans-serif;
        color: #212931;
        letter-spacing: 0.025rem;
    }
    div {
        h4 {
            text-transform: uppercase;
            font-family: "source-sans-pro-bold", helvetica, sans-serif;
            color: #212931;
            letter-spacing: 0.025rem;
        }
        span{
            font-weight: 900;
        }
    }
}
