#table{
font-size: 0.8rem;
    thead{
        text-transform: uppercase;
        font-family:"source-sans-pro-bold", helvetica, sans-serif ;
        color: #212931;
    }
}
#empty{
    text-transform: uppercase;
    font-family:"source-sans-pro-bold", helvetica, sans-serif ;
    color: #212931;
}

#continue{
    text-transform: uppercase;
    font-family:"source-sans-pro-bold", helvetica, sans-serif ;
    color: #fff;
}

#form {
    input{
        font-family: "merriweather-Light", helvetica, sans-serif;
        font-size: 1rem;
        letter-spacing: 0.025rem;
    }
    textarea{
        font-family: "merriweather-Light", helvetica, sans-serif;
        font-size: 1rem;
        letter-spacing: 0.025rem;
    }
    input[type="submit"] {
        text-transform: uppercase;
        font-family:"source-sans-pro-bold", helvetica, sans-serif ;
        color: #fff;
    }
}