#items {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vh;
        &::before{
            border-top: solid 2px #e6e6e6;
            content: "";
            display: inline-block;
            width: 100%;
        }
        .item {
            &__img {
                img {
                    width: 100%;
                    height: auto;
                }
                @media all and (min-width: 600px){
                    width: 80%;
                }
                @media all and (min-width: 1200px){
                    width: 60%;
                }
            }
            &__btn {
                width: 50vw;
                padding: 0;
                display: block;
                background-color: #fff;
                text-align: center;
                border: solid 2px #212931;
                transition: color 200ms ease-in-out, border 200ms ease-in-out;
                &:hover{
                    color: #18bfef;
                    border: solid 2px #18bfef;
                }
            }
        }
    }
}
