#main {
    table {
        border: solid 1px;
        border-collapse: collapse;
        td{
            border: solid 1px;
            width: 50vw;
            text-align: center;
        }        
        tr{
            border: solid 1px;
        }
    }
}
