#main {
    #table {
        margin: 0 0 2rem 0;
        border-collapse: separate;
        width: 100%;
        border-spacing: 0;
        tbody {
            tr:nth-child(2n + 1) {
                background-color: rgba(220, 220, 220, 0.25);
            }
        }
        td {
            text-align: center;
            border: 1px solid #eeeeee;
        }
        tfoot {
            tr {
                th {
                    width: 10%;
                }
            }
        }
    }
    #empty {
        width: 100%;
        margin: 2rem 0 2rem 0;
        line-height: 3.25rem;
        background-color: #fff;
        border: #212931 solid 2px;
        transition: background-color 200ms ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: #18bfef;
        }
    }
    #continue {
        width: 100%;
        text-align: center;
        margin: 2rem 0 0 0;
        line-height: 3.25rem;
        background-color: #212931;
        border: solid 2px;
        transition: background-color 200ms ease-in-out;
        &:hover {
            background-color: #18bfef;
        }
    }
    #textForm {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::before {
            border-top: solid 2px #b6b6b6;
            content: "";
            display: inline-block;
            width: 20%;
            margin: 0 0 1rem 0;
        }
    }
    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        width: 100%;
        input {
            width: 90%;
            height: 2rem;
            border: solid #eeeeee 2px;
            margin: 2rem 0 0 0;
        }
        textarea {
            width: 90%;
            margin: 2rem 0 0 0;
            border: solid #eeeeee 2px;
        }
        input[type="submit"] {
            width: 100%;
            border: none;
            height: auto;
            margin: 2rem 0 2rem 0;
            line-height: 3.25rem;
            background-color: #212931;
            transition: background-color 200ms ease-in-out;
            cursor: pointer;
            &:hover {
                background-color: #18bfef;
            }
        }
    }
}
