.sheet {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        text-align: center;
        margin-bottom: 0;
    }
    &__specs {
        padding: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::before{
            border-top: solid 2px #b6b6b6;
            content: "";
            display: inline-block;
            width: 20%;
            margin-bottom: 2rem;
        }
        &::after{
            border-top: solid 2px #b6b6b6;
            content: "";
            display: inline-block;
            width: 20%;
            margin-top: 2rem;
        }
    }
    &__id {
        text-align: center;
        line-height: 1rem;
        margin-top: 0;
    }
    &__img {
        img {
            width: 100vw;
            height: auto;
        }
    }
    &__label {
        padding: 1rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-bottom: 4rem;
        div{
            width: 100%;
            margin: 1rem 0;
            label{
                color: #212931;
                text-align: start;
            }
            select{
                height: 3rem;
                width: 100%;
                border: solid 2px #eeeeee;
                text-align: center;
            }
            p{
                text-align: center;
                margin: 0;
            }
            input{
                height: 3rem;
                width: 100%;
                border: solid 2px #eeeeee;
                text-align: center;
            }
            button{
                width: 100%;
                line-height: 3.25rem;
                background-color: #212931;
                border: 0;
                transition: background-color 200ms ease-in-out;
                cursor: pointer;
                &:hover{
                    background-color: #18bfef;
                }
            }
        }
    }
}
